{% extends "layouts/user_base.htm" %}
<!--
    administrator can delete user here
-->
{% block title %}Home{% endblock %}
{% block delete_user_active %}active{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <!-- profile information -->
            <div class="card">
                <form class="card-body">
                    <h4 class="card-title">Manage Users</h4>
                    
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}