{% extends "layouts/user_base.htm" %}
{% block title %}User Register{% endblock %}
{% block register_active %}active{% endblock %}
{% block content %}
<div class="container-card">
    <form class="card-body" method="POST">
        <h4 class="card-title">Enter Payment Details</h4>
        <div class="form-group">
          <!-- flash messages -->
                        <!--<div class="form-group fullName">
                            <label for="fullName">Full Name Per Credit Card</label>
                            <input type="text" class="form-control" name="fullName" id="fullName" placeholder="e.g. John Doe">
                        </div>-->
                        <div class="form-group" id="card-number-field">
                            <label for="cardNumber">Credit Card Number</label>
                            <input type="text" class="form-control" minlength="16" maxlength="16" name="cardNumber" id="cardNumber" value={{cardNumber}}>
                        </div>
                        <!--<div class="form-group CVV">
                            <label for="cvv">CVV</label>
                            <input type="text" class="form-control" minlength="3" maxlength="3" name="cvv" id="cvv" placeholder="e.g. 123">
                        </div>-->
                        <div class="form-group expiry-date">
                            <label for="expiryDate">Expiry Date</label>
                            <input type="text" class="form-control" minlength="5" maxlength="5" name="expiryDate" id="expiryDate" value="{{expiryDate}}">
                        </div>
                        <div>
                            <a href="{{ url_for('login') }}" >
                                <button type="submit" class="btn btn-primary">Make Payment</button>
                            </a>
                        </div>
        </div>
    </form>
</div>
{% endblock %}