{% extends "layouts/user_base.htm" %}
<!-- user dashboard includes all premium paid features
     items include sentimental anaylsis, wordcloud, barchart, more charts, etc.
-->
{% block title %}Home{% endblock %}
{% block dashboard_active %}active{% endblock %}
{% block content %}
    <div class="container-fluid">
        <!-- <div class="alert alert-info" role="alert">
            This is a info alert—check it out!
        </div> -->
        <div class="row">
            <div class="col-sm">
                <!-- chart number 1 -->
                <img src="{{url_for('static', filename='cloud.png')}}" class="image" alt="Word Cloud" width="100%" />
            </div>
            <div class="col-sm">
                <!-- chart number 2 -->
                <canvas id="myChart1"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <!-- chart number 1 -->
                The number of articles by each agency
                <canvas id="myChart2"></canvas>
            </div>
            <div class="col-sm">
                <!-- chart number 2 -->
                <canvas id="myChart3"></canvas>
            </div>
        </div>
    </div>    
{% endblock %}
{% block js %}
    <!--<script src="{{ url_for('static', filename='demo/line_chart.js') }}"></script>
    <script src="{{ url_for('static', filename='demo/bar_chart.js') }}"></script>
    <script src="{{ url_for('static', filename='demo/bar_chart2.js') }}"></script>-->

    <script>
    //Add this option to make graphs start at zero
    var startAtZero = {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
      }

    //The 1st graph
      // define the chart data
      var chartData1 = {
        labels : [{% for item in labels1 %}
                   "{{item}}",
                  {% endfor %}],
        datasets : [{
            label: '{{ legend1 }}',
            fill: true,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data : [{% for item in values1 %}
                      {{item}},
                    {% endfor %}],
            spanGaps: false
        }]
      }

      // get chart canvas
      var ctx = document.getElementById("myChart1");

      // create the chart using the chart canvas
      var myChart1 = new Chart(ctx, {
        type: 'line',
        data: chartData1,
      });



      //The 2nd graph
      // define the chart data
      var chartData2 = {
        labels : [{% for item in labels2 %}
                   "{{item}}",
                  {% endfor %}],
        datasets : [{
            label: '{{ legend2 }}',
            fill: true,
            lineTension: 0.1,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)'],
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data : [{% for item in values2 %}
                      {{item}},
                    {% endfor %}],
            spanGaps: false
        }],
      }

      // get chart canvas
      var ctx = document.getElementById("myChart2");

      // create the chart using the chart canvas
      var myChart2 = new Chart(ctx, {
        type: 'pie',
        data: chartData2,
      });



      //The 3rd graph
      // define the chart data
      var chartData3 = {
        labels : [{% for item in labels3 %}
                   "{{item}}",
                  {% endfor %}],
        datasets : [{
            label: '{{ legend3 }}',
            fill: true,
            lineTension: 0.1,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(215, 69, 162, 0.2)',
                'rgba(42, 182, 245, 0.2)',
                'rgba(205, 166, 106, 0.2)',
                'rgba(245, 119, 122, 0.2)',
                'rgba(76, 132, 205, 0.2)',
                'rgba(235, 190, 70, 0.2)',
                'rgba(200, 200, 100, 0.2)'],
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data : [{% for item in values3 %}
                      {{item}},
                    {% endfor %}],
            spanGaps: false
        }]
      }

      // get chart canvas
      var ctx = document.getElementById("myChart3");

      // create the chart using the chart canvas
      var myChart3 = new Chart(ctx, {
        type: 'bar',
        data: chartData3,
        options: startAtZero
      });
    </script>

{% endblock %}