{% extends "layouts/user_base.htm" %}
<!-- 
    includes user information such as privilleges, email address, etc.
    can include user favourite news article here.
-->
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <!-- profile information -->
            <div class="card">
                <form class="card-body">
                    <h4 class="card-title">Profile</h4>
                    <span>
                        {% if session['is_admin'] %}
                        <p>Account Type: <strong class="text-danger">Administrator</strong></p>
                        {% else %}
                        <p>Account Type: <strong class="text-danger">User</strong></p>
                            <p>User privilege: <strong class="text-danger">FREE</strong></p>
                            <div class="alert alert-danger" role="alert">
                                Your user privilege is currently <strong>FREE</strong>, click <a href="{{ url_for('user_privilege') }}">here</a> to view more information on our privileges tiers!
                            </div>
                        {% endif %}
                    </span>
                </form>
            </div>
            <br/>
            <!-- logout -->
            <div class="card">
                <form class="card-body">
                    <h4 class="card-title">Controls</h4>
                    <button class="btn btn-danger btn-sm" onclick="location.href='{{ url_for('logout') }}'" type="button">
                        Logout of NewsAPI</button>
                </form>
            </div>
        </div>
        <div class="col-sm">
            <!-- favourites -->
            <div class="card">
                <form class="card-body">
                    <h4 class="card-title">Favourites</h4>
                    {% for a in article %}
                    <div>
                        <span class="d-flex justify-content-between"> 
                            <!-- news article header -->
                            <form method="POST" action={{ url_for('view_article') }}>
                                <input type="text" id="post_item" name="article_id" value="{{a[0]}}">
                                <input type="text" id="post_item" name="like">
                                <input type="submit" id="display_text" value="{{a[1]}}">
                            </form>
                            <!-- <button type="button" class="btn btn-danger btn-sm">Unfavourite</button>  -->
                        </span>
                        <p class="text-justify"></p>
                    {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}