{% extends "layouts/user_base.htm" %}
<!-- showcase user privilege here 
    and purchase using card details 
-->
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <!-- profile information -->
            <div class="card">
                <form class="card-body">
                    <h4 class="card-title">Purchase Privilege</h4>
                    <div class="jumbotron">
                        <h1 class="display-4">Perks!</h1>
                        <p class="lead">
                            Enhance your experience using NewsAPI to be able to view our dashboard!
                        </p>
                        <img src="{{url_for('static', filename='sample.png')}}" width=50% />
                      </div>
                    <span>
                        <div class="alert alert-danger" role="alert">
                            Click <a href="{{ url_for('user_purchase') }}">here</a> to purchase the VIP upgrade for your account!
                        </div>
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}