{% extends "layouts/user_base.htm" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container-fluid">
    <!-- flash messages -->

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
            
        </div>
        {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container">
        <a class="text-dark" href="{{ url_for('article') }}"><small>← return back to previous page</small></a>
        <br><br>
        <div> 
            <!-- item type -->
            {% if article_item[5].lower() == "health" %}
            <p class="text-white border border-white rounded bg-danger p-2"><em><small>{{article_item[5]}}</small></em></p>
            {% endif %}
            {% if article_item[5].lower() == "politics" %}
            <p class="text-white border border-white rounded bg-success p-2"><em><small>{{article_item[5]}}</small></em></p>
            {% endif %}
            {% if article_item[5].lower() == "business" %}
            <p class="text-white border border-white rounded bg-primary p-2"><em><small>{{article_item[5]}}</small></em></p>
            {% endif %}
        </div>
        <h3 class="card-title">{{ article_item[0] }}</h3>
        <div class="d-flex justify-content-between">
            <!-- article url -->
            <a href="{{ article_item[2] }}" target="_blank">{{ article_item[2] }}</a>
            <!-- article date -->
            <span><strong>{{ article_item[1] }}</strong></span>
        </div>
        <div class="container p-3 my-3 border item">
            <div>
                <div class="article_item">
                    <!-- article -->
                    {{ article_item[4] }}
                </div>
                <br>
                <div>
                    <!-- source item-->
                    <div class="all_item">
                        <span>Source:<em class="text-danger"> {{ article_item[6] }}</em></span>
                        <!-- sentimental analysis rating -->
                        <p>Sentimental Rating: {% if (article_item[3] < 0): %}
                                                <em class="text-danger">{{ article_item[3] }}</em>
                                                {% else: %}
                                                <em class="text-info">{{ article_item[3] }}</em>     
                                                {% endif %}
                        </p>
                    </div>
                    
                    <!-- like item -->
   
                    <form method="POST" id="like_form">
                        <input type="text" id="post_item" name="article_id" value="{{ article_id }}">
                        <input type="text" id="post_item" name="like" value="false">
                        <input type="submit" class="btn btn-dark" class="like_btn snd_btn1" id="unlike_btn" value="❤ Like this Article">
                    </form>
      
                    <form method="POST" id="unlike_form" }}>
                        <input type="text" id="post_item" name="article_id" value="{{ article_id }}">
                        <input type="text" id="post_item" name="like" value="true">
                        <input type="submit" class="btn btn-danger text-white" class="like_btn snd_btn" id="like_btn" value="💔 Unlike this Article">
                    </form>
      
                    <div id="like_div"></div>
                    </head>
                    <body>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
    console.log("{{check_like}}");

   if ("{{check_like}}" == "True") {
    $('#like_form').hide();
    $('#unlike_form').show();
   } else {
    $('#like_form').show();
    $('#unlike_form').hide();
   }
   
    article_id = "{{ article_id }}";

    $('#like_form').submit(function(e){
         e.preventDefault(); // added this line and an argument 'e' to the function
        $.ajax({
            type: 'POST',
            url: "{{ url_for('view_article') }}",
            data: { article_id: article_id, like: "true" },
        })
        .done(function(result){
            $('#like_form').hide();
            $('#unlike_form').show();
        })
        return false;   
    });

    $('#unlike_form').submit(function(e){
         e.preventDefault(); // added this line and an argument 'e' to the function
        $.ajax({
            type: 'POST',
            url: "{{ url_for('view_article') }}",
            data: { article_id: article_id, like: "false" },
        })
        .done(function(result){
            $('#like_form').show();
            $('#unlike_form').hide();
        })
        return false;   
    });
    }); 

</script>
{% endblock %}